{% assign social_links = site.social.links %}
<ul class="social-links">
  {% for link in social_links %}
    {% if link contains "github.com" %}
      <li><a href="{{ link }}"><i class="fa-brands fa-github"></i></a></li>
    {% elsif link contains "medium.com" %}
      <li><a href="{{ link }}"><i class="fa-brands fa-medium"></i></a></li>
    {% elsif link contains "linkedin.com" %}
      <li><a href="{{ link }}"><i class="fa-brands fa-linkedin"></i></a></li>
    {% elsif link contains "youtube.com" %}
      <li><a href="{{ link }}"><i class="fa-brands fa-youtube"></i></a></li>
    {% endif %}
  {% endfor %}
</ul>
